---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="absolute inset-0 z-0 bg-[url(/assets/img/home/background-home-mobile.jpg)] bg-cover bg-center md:bg-[url(/assets/img/home/background-home-tablet.jpg)] xl:bg-[url(/assets/img/home/background-home-desktop.jpg)]"></div>
  <h1>Astro</h1>
</Layout>
