---
import Menu from '@/layouts/components/header/menu.svelte'
---

<header class="z-10 flex pt-6 md:pt-0">
  <a href="/" title="@isamudev" class="md:flex md:items-center">
    <img src="/assets/img/shared/logo.svg" alt="Logo" class="max-h-10 max-w-10 md:max-h-12 md:max-w-12" />
  </a>

  <hr class="hidden xl:inline" />

  <Menu client:load />
</header>
