---
import Header from '@/layouts/components/header/index.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Space tourism website</title>
    <meta name="description" content="This is a solution to the [Space tourism website challenge on Frontend Mentor](https://www.frontendmentor.io/challenges/space-tourism-multipage-website-gRWj1URZ3). Frontend Mentor challenges help you improve your coding skills by building realistic projects." />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap" as="style" onload="this.onload=null; this.rel='stylesheet'" />
  </head>
  <body class="grid pl-6 md:pl-[2.4375rem] xl:pt-10 xl:pl-[3.4375rem]">
    <Header />

    <main>
      <slot />
    </main>
  </body>
</html>
